.header {
    margin-top: 20px;
}


.header__container {
    margin: 0 auto;
    max-width: 1300px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    padding: 0 20px;
    border-radius: 10px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__left {
    display: flex;
    align-items: center;
    gap: 180px;
}
