.category_item {
    width: 318px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    img {
        width: 100%;
        height: 350px;
    }
}

