.sales__title {
    h2 {
        font-size: 36px;
    }
}

.sale__info {
    margin-top: 20px;
}

.sale__prices {
    display: flex;
    align-items: end;
    gap: 10px;
}

.sale__item__now-price {
    font-size: 20px;
    font-weight: 600;
}

.sale__item__prev-price {
    text-decoration: line-through;
    color: gray;
}

.sale__item__discount {
    color: #DB222A;
}

.sale__item__title {
    margin-top: 10px;
    font-weight: 500;
}