.cartProduct__main-info {
    display: flex;
    align-items: center;
}

.cartProduct {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    width: 825px;
    margin-top: 30px;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;

}

.cartProduct__left {
    display: flex;
    gap: 20px;

    img {
        width: 318px;
    }
}

.cartProduct__left__counter {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border: 2px solid #252525;
    width: 100px;
    justify-content: space-between;
    border-radius: 100px;
    height: 40px;

    .plus, .minus {
        width: 24px;
    }
}

.cartProduct__left__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cart__navigation {
    width: 825px;
}

.cartProduct__right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.sale__item__now-price {
    font-size: 40px;
    font-weight: 600;
}

.sale__item__prev-price {
    text-decoration: line-through;
    color: gray;
}

.cartProduct_delete-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background-color: #eff3f6;
    border-radius: 5px;
    height: 33px;
    padding: 5px;
    transition: background-color ease-in 0.2s;
}

.cartProduct_delete-item:hover {
    background-color: #96a3ae;
}

